<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @type.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @type.type_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @type.url %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
